<h1>Login</h1>
<form action="/login" method="POST">

    <label for="email" class="info">Email: </label>
    <input type="email" name="email" id="email"><br>

    <label for="password" class="info">Password: </label>
    <input type="password" name="password" id="password">
    <u><a href="/">Need to Register?</a></u><br>

    <button type="submit" name="submit">Submit</button>
</form>